@model MyJewelryStore.Models.Order

@{
    ViewData["Title"] = "Szczegóły";
}

<h2>Szczegóły</h2>

<div>
    <h4>Zamówienie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Adres e-mail:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            Numer produktu:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NewProduct.ID)
        </dd>



    </dl>
</div>
<div>
    <a asp-action="Index">Wróć do listy zamówień</a>
</div>

