@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1>Witamy w naszym sklepie z biżuterią!</h1>

    <p>
        Nasz sklep internetowy oferuje unikalne, ręcznie robione naszyjniki z naturalnych kamieni,
        które są nie tylko piękne, ale także pełne mocy i energii. W naszej ofercie znajdziesz
        szeroki wybór naszyjników z różnych kamieni, takich jak ametyst, kwarc różowy, turkus,
        labradoryt i wiele innych. Nasze naszyjniki są idealne zarówno do noszenia na co dzień,
        jak i na specjalne okazje. Każdy z naszych naszyjników jest unikalny i ręcznie wykonany
        przez naszych utalentowanych projektantów, dzięki czemu masz pewność, że otrzymasz produkt
        najwyższej jakości. Nasze kamienie są starannie dobierane i pochodzą z różnych zakątków świata,
        co dodaje naszej biżuterii niepowtarzalnego charakteru i uroku. Zachęcamy do odwiedzenia naszego
        sklepu internetowego i zapoznania się z naszą ofertą!

    </p>

    <h2>Dostępne produkty</h2>
</div>
<div class="text-left">
    <table style="width: 100%; height: 100%">
        <tr>
            <td><img src=/(1).png alt="1" width="100%" , height="100%"></td>
            <td><img src=/(2).png alt="2" width="100%" , height="100%"></td>
            <td><img src=/(3).png alt="3" width="100%" , height="100%"></td>
            <td><img src=/(4).png alt="4" width="100%" , height="100%"></td>
            <td><img src=/(5).png alt="5" width="100%" , height="100%"></td>
        </tr>
        <tr>

            <td><img src=/(6).png alt="6" width="100%" , height="100%"></td></td>
            <td><img src=/(7).png alt="7" width="100%" , height="100%"></td></td>
            <td><img src=/(8).png alt="8" width="100%" , height="100%"></td></td>
            <td><img src=/(9).png alt="9" width="100%" , height="100%"></td></td>
            <td><img src=/(10).png alt="9" width="100%" , height="100%"></td></td>
        </tr>

    </table>

    <ol>



        <li>Naszyjnik z pereł - składający się tylko z pereł w orientacyjnej cenie 135zł</li>
        <li>Naszyjnik niebieski	- potrójny naszyjnik z 6 różnymi ozdobami w orientacyjnej cenie 169zł</li>
        <li> Naszyjnik różowy - pojedynczy naszyjnik z 2 różnymi ozdobami w kolorze różowym w orientacyjnej cenie 137zł</li>
        <li> Naszyjnik zielony - pojedynczy naszyjnik z 2 różnymi ozdobami w kolorze zielonym w orientacyjnej cenie 132zł</li>
        <li>Naszyjnik żółty - pojedynczy naszyjnik z 2 różnymi ozdobami w kolorze żółtym w orientacyjnej cenie 135zł</li>

        <li>Naszyjnik kolorowy - potrójny naszyjnik bez ozdób w dowolnych kolorach w orientacyjnej cenie 193zł</li>
        <li>Naszyjnik z zawieszką - pojedynczy naszyjnik z dowolną przywieszką w dowolnym kolorze w orientacyjnej cenie 148zł</li>
        <li>Naszyjnik z dwoma rodzajami kamieni	- z dowolnymi dwoma rodzajami kamieni do wyboru	w orientacyjnej cenie 153zł</li>
        <li> Naszyjnik dwurzędowy - podwójny naszyjnik z dwoma rodzajami kamieni różnej wielkości w dowolnym kolorze w orientacyjnej cenie 164zł</li>
        <li> Naszyjnik z dużymi kamieniami - naszyjnik z dowolną liczbą dużych kamieni w orientacyjnej cenie 200zł</li>
    </ol>



</div>
