@{
    ViewData["Title"] = "Polityka Prywatności";
}
<h2>@ViewData["Title"]</h2>




<h4>
    Nasza polityka prywatności jest bardzo ważna dla nas i jesteśmy zobowiązani do ochrony prywatności naszych klientów. W celu lepszego zrozumienia, jak przetwarzamy Twoje dane osobowe, przedstawiamy naszą politykę prywatności.
</h4>
<h5>
    1. Jakie dane osobowe zbieramy?
    <p>
        Zbieramy tylko niezbędne dane osobowe, takie jak adres e-mail, które są niezbędne do realizacji zamówienia i wysyłki towaru.
    </p>
</h5>
<h5>
    2.W jaki sposób wykorzystujemy Twoje dane osobowe?
    <p>
        Twoje dane osobowe są wykorzystywane wyłącznie w celu realizacji zamówienia i wysyłki towaru oraz w celu
        skontaktowania się z Tobą w przypadku pytań lub problemów związanych z Twoim zamówieniem. Twoje
        dane osobowe nie będą udostępniane innym stronom bez Twojej zgody.
    </p>
</h5>
<h5>
    3.Jak długo przechowujemy Twoje dane osobowe?
    <p>
        Twoje dane osobowe będą przechowywane przez okres niezbędny do realizacji zamówienia i wysyłki towaru
        oraz do czasu wycofania zgody na przetwarzanie danych osobowych. Po tym okresie Twoje dane osobowe zostaną usunięte z naszej bazy danych.
    </p>
</h5>
<h5>
    4.Jak chronimy Twoje dane osobowe?
    <p>
        Chronimy Twoje dane osobowe poprzez stosowanie odpowiednich środków technicznych i organizacyjnych,
        takich jak szyfrowanie danych osobowych i stosowanie zabezpieczeń sieciowych.
    </p>
</h5>
<h5>
    5.Jakie są Twoje prawa dotyczące danych osobowych?
    <p>
        Masz prawo do dostępu do swoich danych osobowych, ich sprostowania, usunięcia lub ograniczenia
        przetwarzania, a także prawo do sprzeciwu wobec przetwarzania Twoich danych osobowych, a także
        prawo do przenoszenia danych. Masz również prawo do wycofania zgody na przetwarzanie danych
        osobowych w dowolnym momencie. Jeśli chcesz skorzystać z któregokolwiek z tych praw, skontaktuj
        się z nami poprzez adres e-mail podany na naszej stronie internetowej.
    </p>
</h5>
<h5>
    6. Kto jest administratorem Twoich danych osobowych?
    <p>
        Administratorem Twoich danych osobowych jest Biżuteria z naturalnych kamieni SA, z siedzibą w Poznaniu.
    </p>
</h5>
<h5>
    7. Masz pytania dotyczące przetwarzania danych osobowych?
    <p>
        Jeśli masz jakiekolwiek pytania dotyczące przetwarzania Twoich danych osobowych lub chcesz
        skorzystać z któregokolwiek z powyższych praw, skontaktuj się z nami poprzez adres e-mail
        podany na naszej stronie internetowej.
    </p>
</h5>