@model MyJewelryStore.Models.Status

@{
    ViewData["Title"] = "Usuń";
}

<h2>Usuń</h2>

<h3>Jesteś pewny?</h3>
<div>
    <h4>Zamówienie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Status
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Zamówienie
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Id)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Wróć</a>
    </form>
</div>

